LC borrower loan status prediction

step 1: Load and prepare the data set

In [33]:
## Import packages
library(ggplot2)
library(repr)
library(dplyr)
options(repr.plot.width=4, repr.plot.height=4)

In [34]:
credit = read.csv('LoanStats3a.csv', header=TRUE, stringsAsFactors=FALSE)
str(credit)
head(credit)

'data.frame':	42542 obs. of  145 variables:
 $ id                                        : chr  "" "" "" "" ...
 $ member_id                                 : logi  NA NA NA NA NA NA ...
 $ loan_amnt                                 : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt                               : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt_inv                           : num  4975 2500 2400 10000 3000 ...
 $ term                                      : chr  " 36 months" " 60 months" " 36 months" " 36 months" ...
 $ int_rate                                  : chr  "10.65%" "15.27%" "15.96%" "13.49%" ...
 $ installment                               : num  162.9 59.8 84.3 339.3 67.8 ...
 $ grade                                     : chr  "B" "C" "C" "C" ...
 $ sub_grade                                 : chr  "B2" "C4" "C5" "C1" ...
 $ emp_title                                 : chr  "" "Ryder" "" "AIR RESOURCES BOARD" ...
 $ emp_length                                : chr  "10+ years" "< 1 year" "10+ years" "10+ years" ...
 $ home_ownership                            : chr  "RENT" "RENT" "RENT" "RENT" ...
 $ annual_inc                                : num  24000 30000 12252 49200 80000 ...
 $ verification_status                       : chr  "Verified" "Source Verified" "Not Verified" "Source Verified" ...
 $ issue_d                                   : chr  "Dec-11" "Dec-11" "Dec-11" "Dec-11" ...
 $ loan_status                               : chr  "Fully Paid" "Charged Off" "Fully Paid" "Fully Paid" ...
 $ pymnt_plan                                : chr  "n" "n" "n" "n" ...
 $ url                                       : logi  NA NA NA NA NA NA ...
 $ desc                                      : chr  "  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>" "  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to ha"| __truncated__ "" "  Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C nee"| __truncated__ ...
 $ purpose                                   : chr  "credit_card" "car" "small_business" "other" ...
 $ title                                     : chr  "Computer" "bike" "real estate business" "personel" ...
 $ zip_code                                  : chr  "860xx" "309xx" "606xx" "917xx" ...
 $ addr_state                                : chr  "AZ" "GA" "IL" "CA" ...
 $ dti                                       : num  27.65 1 8.72 20 17.94 ...
 $ delinq_2yrs                               : chr  "0" "0" "0" "0" ...
 $ earliest_cr_line                          : chr  "Jan-85" "Apr-99" "Nov-01" "Feb-96" ...
 $ inq_last_6mths                            : int  1 5 2 1 0 3 1 2 2 0 ...
 $ mths_since_last_delinq                    : int  NA NA NA 35 38 NA NA NA NA NA ...
 $ mths_since_last_record                    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ open_acc                                  : int  3 3 2 10 15 9 7 4 11 2 ...
 $ pub_rec                                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ revol_bal                                 : chr  "13648" "1687" "2956" "5598" ...
 $ revol_util                                : chr  "83.70%" "9.40%" "98.50%" "21%" ...
 $ total_acc                                 : chr  "9" "4" "10" "37" ...
 $ initial_list_status                       : chr  "f" "f" "f" "f" ...
 $ out_prncp                                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ out_prncp_inv                             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ total_pymnt                               : num  5863 1015 3006 12232 4067 ...
 $ total_pymnt_inv                           : num  5834 1015 3006 12232 4067 ...
 $ total_rec_prncp                           : num  5000 456 2400 10000 3000 ...
 $ total_rec_int                             : num  863 435 606 2215 1067 ...
 $ total_rec_late_fee                        : num  0 0 0 17 0 ...
 $ recoveries                                : num  0 123 0 0 0 ...
 $ collection_recovery_fee                   : chr  "0" "1.11" "0" "0" ...
 $ last_pymnt_d                              : chr  "Jan-15" "Apr-13" "Jun-14" "Jan-15" ...
 $ last_pymnt_amnt                           : num  171.6 119.7 649.9 357.5 67.3 ...
 $ next_pymnt_d                              : chr  "" "" "" "" ...
 $ last_credit_pull_d                        : chr  "Sep-18" "Oct-16" "Jun-17" "Apr-16" ...
 $ collections_12_mths_ex_med                : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mths_since_last_major_derog               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ policy_code                               : chr  "1" "1" "1" "1" ...
 $ application_type                          : chr  "Individual" "Individual" "Individual" "Individual" ...
 $ annual_inc_joint                          : logi  NA NA NA NA NA NA ...
 $ dti_joint                                 : logi  NA NA NA NA NA NA ...
 $ verification_status_joint                 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ acc_now_delinq                            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tot_coll_amt                              : logi  NA NA NA NA NA NA ...
 $ tot_cur_bal                               : logi  NA NA NA NA NA NA ...
 $ open_acc_6m                               : logi  NA NA NA NA NA NA ...
 $ open_act_il                               : logi  NA NA NA NA NA NA ...
 $ open_il_12m                               : logi  NA NA NA NA NA NA ...
 $ open_il_24m                               : logi  NA NA NA NA NA NA ...
 $ mths_since_rcnt_il                        : logi  NA NA NA NA NA NA ...
 $ total_bal_il                              : logi  NA NA NA NA NA NA ...
 $ il_util                                   : logi  NA NA NA NA NA NA ...
 $ open_rv_12m                               : logi  NA NA NA NA NA NA ...
 $ open_rv_24m                               : logi  NA NA NA NA NA NA ...
 $ max_bal_bc                                : logi  NA NA NA NA NA NA ...
 $ all_util                                  : logi  NA NA NA NA NA NA ...
 $ total_rev_hi_lim                          : logi  NA NA NA NA NA NA ...
 $ inq_fi                                    : logi  NA NA NA NA NA NA ...
 $ total_cu_tl                               : logi  NA NA NA NA NA NA ...
 $ inq_last_12m                              : logi  NA NA NA NA NA NA ...
 $ acc_open_past_24mths                      : logi  NA NA NA NA NA NA ...
 $ avg_cur_bal                               : logi  NA NA NA NA NA NA ...
 $ bc_open_to_buy                            : logi  NA NA NA NA NA NA ...
 $ bc_util                                   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ chargeoff_within_12_mths                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ delinq_amnt                               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mo_sin_old_il_acct                        : logi  NA NA NA NA NA NA ...
 $ mo_sin_old_rev_tl_op                      : logi  NA NA NA NA NA NA ...
 $ mo_sin_rcnt_rev_tl_op                     : logi  NA NA NA NA NA NA ...
 $ mo_sin_rcnt_tl                            : logi  NA NA NA NA NA NA ...
 $ mort_acc                                  : logi  NA NA NA NA NA NA ...
 $ mths_since_recent_bc                      : logi  NA NA NA NA NA NA ...
 $ mths_since_recent_bc_dlq                  : logi  NA NA NA NA NA NA ...
 $ mths_since_recent_inq                     : logi  NA NA NA NA NA NA ...
 $ mths_since_recent_revol_delinq            : logi  NA NA NA NA NA NA ...
 $ num_accts_ever_120_pd                     : logi  NA NA NA NA NA NA ...
 $ num_actv_bc_tl                            : logi  NA NA NA NA NA NA ...
 $ num_actv_rev_tl                           : logi  NA NA NA NA NA NA ...
 $ num_bc_sats                               : logi  NA NA NA NA NA NA ...
 $ num_bc_tl                                 : logi  NA NA NA NA NA NA ...
 $ num_il_tl                                 : logi  NA NA NA NA NA NA ...
 $ num_op_rev_tl                             : logi  NA NA NA NA NA NA ...
 $ num_rev_accts                             : logi  NA NA NA NA NA NA ...
 $ num_rev_tl_bal_gt_0                       : logi  NA NA NA NA NA NA ...
 $ num_sats                                  : logi  NA NA NA NA NA NA ...
  [list output truncated]

  id member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate
1    NA         5000      5000        4975            36 months 10.65%
2    NA         2500      2500        2500            60 months 15.27%
3    NA         2400      2400        2400            36 months 15.96%
4    NA        10000     10000       10000            36 months 13.49%
5    NA         3000      3000        3000            60 months 12.69%
6    NA         5000      5000        5000            36 months 7.90%
  installment grade sub_grade ... hardship_payoff_balance_amount
1 162.87      B     B2        ... NA
2  59.83      C     C4        ... NA
3  84.33      C     C5        ... NA
4 339.31      C     C1        ... NA
5  67.79      B     B5        ... NA
6 156.46      A     A4        ... NA
  hardship_last_payment_amount disbursement_method debt_settlement_flag
1                              Cash                N
2                              Cash                N
3                              Cash                N
4                              Cash                N
5                              Cash                N
6                              Cash                N
  debt_settlement_flag_date settlement_status settlement_date settlement_amount
1                                                             NA
2                                                             NA
3                                                             NA
4                                                             NA
5                                                             NA
6                                                             NA
  settlement_percentage settlement_term
1 NA                    NA
2 NA                    NA
3 NA                    NA
4 NA                    NA
5 NA                    NA
6 NA                    NA

data analysis:

select interested features

In [35]:
selected.columns <- c('loan_status', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment',
                     'grade','emp_length', 'home_ownership', 'annual_inc', 'verification_status',
                     'issue_d', 'purpose', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
                     'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
                     'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv')
credit <- credit[,selected.columns]

In [36]:
head(credit)
str(credit)

  loan_status loan_amnt funded_amnt funded_amnt_inv term       int_rate
1 Fully Paid   5000      5000        4975            36 months 10.65%
2 Charged Off  2500      2500        2500            60 months 15.27%
3 Fully Paid   2400      2400        2400            36 months 15.96%
4 Fully Paid  10000     10000       10000            36 months 13.49%
5 Fully Paid   3000      3000        3000            60 months 12.69%
6 Fully Paid   5000      5000        5000            36 months 7.90%
  installment grade emp_length home_ownership ... mths_since_last_delinq
1 162.87      B     10+ years  RENT           ... NA
2  59.83      C     < 1 year   RENT           ... NA
3  84.33      C     10+ years  RENT           ... NA
4 339.31      C     10+ years  RENT           ... 35
5  67.79      B     1 year     RENT           ... 38
6 156.46      A     3 years    RENT           ... NA
  mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc
1 NA                      3       0       13648     83.70%     9
2 NA                      3       0       1687      9.40%      4
3 NA                      2       0       2956      98.50%     10
4 NA                     10       0       5598      21%        37
5 NA                     15       0       27783     53.90%     38
6 NA                      9       0       7963      28.30%     12
  initial_list_status out_prncp out_prncp_inv
1 f                   0         0
2 f                   0         0
3 f                   0         0
4 f                   0         0
5 f                   0         0
6 f                   0         0

'data.frame':	42542 obs. of  28 variables:
 $ loan_status           : chr  "Fully Paid" "Charged Off" "Fully Paid" "Fully Paid" ...
 $ loan_amnt             : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt           : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt_inv       : num  4975 2500 2400 10000 3000 ...
 $ term                  : chr  " 36 months" " 60 months" " 36 months" " 36 months" ...
 $ int_rate              : chr  "10.65%" "15.27%" "15.96%" "13.49%" ...
 $ installment           : num  162.9 59.8 84.3 339.3 67.8 ...
 $ grade                 : chr  "B" "C" "C" "C" ...
 $ emp_length            : chr  "10+ years" "< 1 year" "10+ years" "10+ years" ...
 $ home_ownership        : chr  "RENT" "RENT" "RENT" "RENT" ...
 $ annual_inc            : num  24000 30000 12252 49200 80000 ...
 $ verification_status   : chr  "Verified" "Source Verified" "Not Verified" "Source Verified" ...
 $ issue_d               : chr  "Dec-11" "Dec-11" "Dec-11" "Dec-11" ...
 $ purpose               : chr  "credit_card" "car" "small_business" "other" ...
 $ dti                   : num  27.65 1 8.72 20 17.94 ...
 $ delinq_2yrs           : chr  "0" "0" "0" "0" ...
 $ earliest_cr_line      : chr  "Jan-85" "Apr-99" "Nov-01" "Feb-96" ...
 $ inq_last_6mths        : int  1 5 2 1 0 3 1 2 2 0 ...
 $ mths_since_last_delinq: int  NA NA NA 35 38 NA NA NA NA NA ...
 $ mths_since_last_record: int  NA NA NA NA NA NA NA NA NA NA ...
 $ open_acc              : int  3 3 2 10 15 9 7 4 11 2 ...
 $ pub_rec               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ revol_bal             : chr  "13648" "1687" "2956" "5598" ...
 $ revol_util            : chr  "83.70%" "9.40%" "98.50%" "21%" ...
 $ total_acc             : chr  "9" "4" "10" "37" ...
 $ initial_list_status   : chr  "f" "f" "f" "f" ...
 $ out_prncp             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ out_prncp_inv         : num  0 0 0 0 0 0 0 0 0 0 ...

remove duplicate instances and instances with wrong label

In [37]:
credit <- filter(credit, loan_status!='')
credit$loan_status <- as.factor(credit$loan_status)
summary(credit$loan_status)
credit = distinct(credit)
dim(credit)

                                        Charged Off
                                               5670
Does not meet the credit policy. Status:Charged Off
                                                761
 Does not meet the credit policy. Status:Fully Paid
                                               1988
                                         Fully Paid
                                              34116

[1] 42535    28

Feature Engineering & Feature Selection
1 Transform column data type.
2 Complete default value of some features.
2 Clean missing values.
3 Remove features with too many missing value.
4

In [38]:
#credit$int_rate<-as.character(credit$int_rate)
credit$int_rate<-as.numeric(sub("%", "", credit$int_rate))/100
credit$int_rate[1:5]
#credit$revol_util<-as.character(credit$revol_util)
credit$revol_util<-as.numeric(sub("%", "", credit$revol_util))/100
credit$revol_util[1:5]

[1] 0.1065 0.1527 0.1596 0.1349 0.1269

[1] 0.837 0.094 0.985 0.210 0.539

In [39]:
credit$issue_d<-Sys.Date() - as.Date(as.character(credit$issue_d), format='%b-%y')
credit$earliest_cr_line <-Sys.Date() - as.Date(as.character(credit$earliest_cr_line), format='%b-%y')

In [40]:
names(credit)
str(credit)

 [1] "loan_status"            "loan_amnt"              "funded_amnt"
 [4] "funded_amnt_inv"        "term"                   "int_rate"
 [7] "installment"            "grade"                  "emp_length"
[10] "home_ownership"         "annual_inc"             "verification_status"
[13] "issue_d"                "purpose"                "dti"
[16] "delinq_2yrs"            "earliest_cr_line"       "inq_last_6mths"
[19] "mths_since_last_delinq" "mths_since_last_record" "open_acc"
[22] "pub_rec"                "revol_bal"              "revol_util"
[25] "total_acc"              "initial_list_status"    "out_prncp"
[28] "out_prncp_inv"

'data.frame':	42535 obs. of  28 variables:
 $ loan_status           : Factor w/ 4 levels "Charged Off",..: 4 1 4 4 4 4 4 4 1 1 ...
 $ loan_amnt             : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt           : int  5000 2500 2400 10000 3000 5000 7000 3000 5600 5375 ...
 $ funded_amnt_inv       : num  4975 2500 2400 10000 3000 ...
 $ term                  : chr  " 36 months" " 60 months" " 36 months" " 36 months" ...
 $ int_rate              : num  0.106 0.153 0.16 0.135 0.127 ...
 $ installment           : num  162.9 59.8 84.3 339.3 67.8 ...
 $ grade                 : chr  "B" "C" "C" "C" ...
 $ emp_length            : chr  "10+ years" "< 1 year" "10+ years" "10+ years" ...
 $ home_ownership        : chr  "RENT" "RENT" "RENT" "RENT" ...
 $ annual_inc            : num  24000 30000 12252 49200 80000 ...
 $ verification_status   : chr  "Verified" "Source Verified" "Not Verified" "Source Verified" ...
 $ issue_d               : 'difftime' num  NA NA NA NA ...
  ..- attr(*, "units")= chr "days"
 $ purpose               : chr  "credit_card" "car" "small_business" "other" ...
 $ dti                   : num  27.65 1 8.72 20 17.94 ...
 $ delinq_2yrs           : chr  "0" "0" "0" "0" ...
 $ earliest_cr_line      : 'difftime' num  NA NA NA NA ...
  ..- attr(*, "units")= chr "days"
 $ inq_last_6mths        : int  1 5 2 1 0 3 1 2 2 0 ...
 $ mths_since_last_delinq: int  NA NA NA 35 38 NA NA NA NA NA ...
 $ mths_since_last_record: int  NA NA NA NA NA NA NA NA NA NA ...
 $ open_acc              : int  3 3 2 10 15 9 7 4 11 2 ...
 $ pub_rec               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ revol_bal             : chr  "13648" "1687" "2956" "5598" ...
 $ revol_util            : num  0.837 0.094 0.985 0.21 0.539 0.283 0.856 0.875 0.326 0.365 ...
 $ total_acc             : chr  "9" "4" "10" "37" ...
 $ initial_list_status   : chr  "f" "f" "f" "f" ...
 $ out_prncp             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ out_prncp_inv         : num  0 0 0 0 0 0 0 0 0 0 ...

In [51]:
#credit<-subset(credit, term!='' && total_acc!='')
credit$initial_list_status <- as.factor(credit$initial_list_status)
credit$term <- as.factor(credit$term)
credit$grade <- as.factor(credit$grade)
credit$emp_length  <- as.factor(credit$emp_length )
credit$home_ownership  <- as.factor(credit$home_ownership )
credit$verification_status  <- as.factor(credit$verification_status )
credit$purpose  <- as.factor(credit$purpose )
credit$delinq_2yrs <- as.numeric(credit$delinq_2yrs)
default_col <- c('mths_since_last_delinq','mths_since_last_record')
credit[,default_col] <- lapply(credit[,default_col], function(x){ifelse(x==NA, 0 ,x)})
#credit <- credit[complete.cases(credit$mths_since_last_delinq),]
credit$initial_list_status   <- as.factor(credit$initial_list_status  )
str(credit)

'data.frame':	0 obs. of  28 variables:
 $ loan_status           : Factor w/ 4 levels "Charged Off",..:
 $ loan_amnt             : int
 $ funded_amnt           : int
 $ funded_amnt_inv       : num
 $ term                  : Factor w/ 2 levels " 36 months"," 60 months":
 $ int_rate              : num
 $ installment           : num
 $ grade                 : Factor w/ 7 levels "A","B","C","D",..:
 $ emp_length            : Factor w/ 12 levels "< 1 year","1 year",..:
 $ home_ownership        : Factor w/ 5 levels "MORTGAGE","NONE",..:
 $ annual_inc            : num
 $ verification_status   : Factor w/ 3 levels "Not Verified",..:
 $ issue_d               : 'difftime' num
  ..- attr(*, "units")= chr "days"
 $ purpose               : Factor w/ 15 levels "car","credit_card",..:
 $ dti                   : num
 $ delinq_2yrs           : num
 $ earliest_cr_line      : 'difftime' num
  ..- attr(*, "units")= chr "days"
 $ inq_last_6mths        : int
 $ mths_since_last_delinq: logi
 $ mths_since_last_record: logi
 $ open_acc              : int
 $ pub_rec               : int
 $ revol_bal             : chr
 $ revol_util            : num
 $ total_acc             : chr
 $ initial_list_status   : Factor w/ 2 levels "0","f":
 $ out_prncp             : int
 $ out_prncp_inv         : num